<!Doctype html>
<html lang="en">
    <head>
        {% load static %}
        <title>What to watch</title>
        <script>
            function reload(){
                location.reload();
            }
        </script>
    </head>
    <body>
        {% include 'whatToWatchApp/navbar.html' %}
        <div class="flex-box">
            <h4>The recommendation is...</h4>
            <div id="title">
                <h2>
                    <a href="{{titleURL}}">{{title}}</a>
                </h2>
            </div>
            <div id="title-image">
                <a href="{{titleURL}}">
                    <img src="{{image}}">
                </a>
            </div>
            
            <div class="text-box">
                <h3>Synopsis</h3>
                {{synopsis|safe}}
            </div>
            <div id="button-box">
                <button class="btn btn-primary" onclick="reload()">Try Again</button>
                <a href="/">
                    <button class="btn btn-primary">Go Back</button>
                </a>
            </div>
        </div>
        {% include 'whatToWatchApp/footer.html' %}
    </body>
</html>