<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    </head>
    <body>
        {% include 'whatToWatchApp/navbar.html' %}
        <div>
            <h1>Impressum</h1>

            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>Jonas Helm<br />
            Wallstra&szlig;e, 35<br />
            Apartment 2.02.18<br />
            55122 Mainz</p>

            <h2>Kontakt</h2>
            <p>Telefon: +49 170 09451230<br />
            E-Mail: <a href="mailto:jonas-helm@gmx.de">jonas-helm@gmx.de</a></p>
        </div>
        {% include 'whatToWatchApp/footer.html' %}
    </body>
</html>

