<!Doctype html>
<html lang="en">
    <head>
        {% load static %}
        <title>What to watch</title>
        {% include 'whatToWatchApp/shared_header.html' %}
    </head>
    <body>
        {% include 'whatToWatchApp/navbar.html' %}
        
        <form id="username-form" action={% url 'anime' %} method="get">

            <div id="username-input">
                <div class="text-box">Simply enter your Username from <a href="https://myanimelist.net">myanimelist.net</a> in the input line and get a random recommondation from your registered anime.</div> 
                <input class="form-control" type="text" name="name" placeholder="Input your MyAnimeList Username">
                <div class="alert alert-danger error" id="user-not-found-error" role="alert" {% if user_found %} hidden {% endif %}>
                    The user '{{user_name|default:"USERERROR"}}' was not found in MyAnimeList!
                </div>
                <div class="alert alert-danger error" id="user-invalid-error" role="alert" {% if user_valid %} hidden {% endif %}>
                    You have to input a valid Username.
                </div>
            </div>
            
            

            <div>
                <label id=checkbox-grid-label>Choose the categories you want your anime to be selected from:</label>     
                <div id=checkbox-grid>

                    <div class="rect watching"></div>
                    <label class="checkbox-label">Watching</label>
                    <input class="form-check-input" type="checkbox" checked="true" name="watching", value="true">
                    
                    <div class="rect completed"></div>
                    <label class="checkbox-label">Completed</label>
                    <input class="form-check-input" type="checkbox" name="completed" value="true">
                    
                    <div class="rect onhold"></div>
                    <label class="checkbox-label">On-Hold</label>
                    <input class="form-check-input" type="checkbox" name="onhold" value="true"> 
                    
                    <div class="rect dropped"></div>
                    <label class="checkbox-label">Dropped</label>
                    <input class="form-check-input" type="checkbox" name="dropped" value="true">
                    
                    <div class="rect plantowatch"></div>
                    <label class="checkbox-label">Plan to Watch</label>
                    <input class="form-check-input" type="checkbox" checked="true" name="plantowatch" value="true">
                </div>
            </div>
            
            <div>
                <input class="btn btn-primary" type="submit" value="Find next Anime to watch">
            </div>
    
        </form>
    </body>
</html>