$watching: #2db039;
$completed: #1d439b;
$onhold: #f9d457;
$dropped: #a12f31;
$plantowatch: #c3c3c3;

$navbar-height: 50px;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
}

a.styleless-link {
    color: white;
    text-decoration: none;
}

#navbar {
    height: $navbar-height;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#navbar > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navbar-height;
}

.navbar-text {
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

.flex-box, #username-form, #username-form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-box {
    width: 50%;
    color: black;
}

#username-form > *, #username-input > *{
    margin: 5px;
}

input[type="text"]{
    width: 500px;
    padding: 10px;
    text-align: center;
}

.input[type="submit"], button{
    margin: 10px;
    background-color: $completed;
}

#checkbox-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 0 15px;
    justify-content: center;
    align-items: center;
}

.rect{
    height: 16px;
    width: 16px;
    border-radius: 16px 16px;
}

.watching{
    background-color: $watching;
}

.completed{
    background-color: $completed;
}

.onhold{
    background-color: $onhold;
}

.dropped{
    background-color: $dropped;
}

.plantowatch{
    background-color: $plantowatch;
}